$main-bg-color: #26BBE1;
$secondary-bg-color: #326ab7;
$main-text-color: #1b1b1b;
$secondary-text-color: #944385;
$gradient-dark: linear-gradient(
  145deg,
  rgba(50, 107, 185, 0.3),
  $secondary-bg-color
);
$page-margin: 5%;
$active-text-color: #1db383;
$hover-bg-color: rgba(244, 244, 244, 0.744);
html {
  height: 100%;
}

body {
  font-family: "arboria", sans-serif;
  color: $main-text-color;
  background-color: $main-bg-color;
  position: relative;
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: "nav" "main" "joboffers" "jobList" "qanda" "cta" "footer";
}

a {
  text-decoration: none;
}

a,
h3 {
  color: #000;
}

input,
textarea {
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  border: 1px solid #d1d1d1;
  color: rgb(31, 31, 31);
  background-color: white;
  height: 44px;
  padding: 10px 16px;
}
label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 6px;
  color: $main-text-color;
  display: inline-block;
  font-style: normal;
  word-break: break-word;
}

hr {
  margin-bottom: 15px;
  background-image: linear-gradient(90deg, $active-text-color, transparent);
  width: 86px;
  height: 3px;
  display: inline-block;
  border: none;
}

footer {
  background-color: #f0f2f8;
  color: $secondary-text-color;
  margin-top: 0;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.button {
  color: #fff;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  &--primary {
    background-color: $active-text-color;
    transition: 0.3s;

    &:hover {
      background-color: $gradient-dark;
      background-image: $gradient-dark;
      transition: 0.3s;
    }
  }
}

.hidden {
  display: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

.page-nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: $page-margin auto 1fr $page-margin;
  grid-template-rows: auto;
  align-items: center;
  padding-top: 16px;
  background: #F5CDD5;
  
  grid-template-areas:
    ". logo burgerBtn ."
    "nav nav nav nav";

  .burger-menu {
    position: relative;
    grid-area: burgerBtn;
    width: 30%;
    justify-self: right;
    border: none;
    background: none;
    margin: 0;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.isOpen {
        display: block;
      }
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__nav {
    grid-area: nav;
    background-color: #26bbe1;
    display: none;
    height: 100vh;
    margin-top: 10%;
    ul {
      list-style: none;
      text-align: center;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        a {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: normal;
          z-index: 1;
          padding: 8px 12px;
          color: #d1e85a;

          &:hover {
            color: #ffff;
          }
          &:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
        }
        .employee,
        .employer {
          display: none;
        }

     
      }
    }
  }
}

.section-wrap {
  display: grid;
  grid-template-rows: auto;
  &__content {
    grid-column: 2/3;
    color: $secondary-text-color;
  }
}

.section {
  &-main {
    grid-area: main;
    grid-template-columns: 12% 1fr 12%;
    background: #F5CDD5;
    
    position: relative;
    text-align: center;
    min-height: 100vh;

    .background {
      .socials {
        display: none;
      }
    }
    &__content {
      display: grid;
      grid-template-columns: 12% 1fr 12%;
      grid-template-rows: auto;
      grid-template-areas:
        ". headerGrid ."
        ". textGrid ."
        ". more .";
      &-header {
        grid-area: headerGrid;
        align-self: center;
        h1 {
          font-size: 3rem;
          font-weight: 700;
          color: #fff;
          margin: 1rem 0;
          text-align: center;
        }
      }
      &-text {
        grid-area: textGrid;
        display: flex;
        justify-content: center;
        align-self: self-end;
        h3 {
          color: $secondary-text-color;
          text-align: center;
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.5rem;
          width: 75%;
          margin: 0 auto 10% auto;
        }
      }
      &-more {
        grid-area: more;
        cursor: pointer;

        #arrow {
          transition: fill 0.3s ease;
          &:hover {
            fill: #fff;
          }
        }
      }
    }
  }
  &-joboffers {
    grid-area: joboffers;
    position: relative;
    text-align: center;
    background-color: #fff;
    &__content {
      display: grid;
      grid-template-columns: 12% 1fr 12%;
      grid-template-rows: auto;
      grid-template-areas:
        ". headerGrid ."
        ". textGrid ."
        ". more .";
      min-height: 100vh;

      &-header {
        grid-area: headerGrid;
        align-self: center;
        h1 {
          font-size: 3rem;
          font-weight: 700;
          margin: 1rem 0;
          color: #fff;
          color: #000;
          text-align: center;
        }
      }
      &-text {
        grid-area: textGrid;
        display: flex;
        justify-content: center;
        align-self: self-end;
        h3 {
          color: #000;
          text-align: center;
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.5rem;
          width: 75%;
          margin: 0 auto 10% auto;
        }
      }
      &-more {
        grid-area: more;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          color: #000;
        }

        &:hover {
          transition: fill 0.3s ease;
          .arrow,
          h3 {
            color: #944385;
            rect {
              fill: #944385;
            }
          }
        }
      }
    }
    &__list {
      grid-area: jobList;
      display: grid;

      &--item {
        position: relative;
        border: 1px solid #d1e85a;
        padding: 10%;
        margin: 5%;
        text-align: left;
        cursor: pointer;
        transition: 0.3s ease;

        .item__salary {
          position: absolute;
          color: #007895;
          text-align: right;
          font-size: 2.875rem;
          font-weight: 700;
          right: 5%;
        }

        .item__info {
          line-height: 1.625rem;
          h1 {
            font-size: 1.625rem;
            margin-bottom: 0;
          }
          h2 {
            font-size: 0.875rem;
            margin: 0;
            font-weight: 400;
          }
        }

        .item__description {
          h1 {
            font-size: 0.75rem;
            font-weight: 700;
            margin-bottom: 0;
          }
          p {
            margin: 0;
            font-size: 0.875rem;
          }
        }

        .item__more {
          padding-top: 8%;
          text-align: right;

          a {
            font-weight: 700;
            font-size: 1.375rem;

            div {
              display: inline-flex;
              flex-direction: row-reverse;
              align-items: center;
              svg {
                padding-left: 10px;
              }
            }
          }
        }

        &:hover {
          border-radius: 3.125rem;
          background: #d1e85a;
        }
      }
    }
  }
  &-qna {
    grid-area: qanda;
    position: relative;
    text-align: center;
    min-height: 100vh;
    background: #26bbe1;

    &__content {
      display: grid;
      grid-template-columns: 12% 0.5fr 0.5fr 12%;
      grid-template-rows: auto;
      grid-template-areas:
        ". headerGrid headerGrid."
        ". qna qna .";
      &-header {
        grid-area: headerGrid;
        align-self: center;
        h1 {
          font-size: 3rem;
          font-weight: 700;
          color: #fff;
          margin: 1rem 0;
          text-align: center;
        }
      }

      .qna__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        h2 {
          font-size: 1.25rem;
        }

        &:hover {
          transition: fill 0.3s ease;

          .arrow,
          h2 {
            color: #fff;
            rect {
              fill: #fff;
            }
          }
        }
      }
      &-employer {
        grid-area: employer;
        color: #d1e85a;

        #arrow {
          transition: fill 0.3s ease;
          &:hover {
            fill: #fff;
          }
        }
        &__questions {
          grid-area: questions;
        }
      }

      &-employee {
        grid-area: employee;
        &__questions {
          grid-area: questions;
        }
      }

      .qna__container {
        grid-area: qna;

        .questions__list {
          .collapsible__container {
            cursor: pointer;
            margin: 10% 0;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;

            .question {
              cursor: pointer;
              display: flex;
              flex-direction: row-reverse;
              justify-content: space-between;
              padding: 2% 5%;
              width: 100%;
              color: #fff;
              background: none;
              font-weight: 700;
              line-height: 1.4;
              border: 1px solid #fff;
              text-align: left;
              align-items: center;

              h1 {
                font-size: 0.825rem;
                width: 90%;
              }
              svg {
                width: 10%;
              }
            }

            .answer {
              padding: 5%;
              overflow: hidden;
              background: #fff;
              color: #000;
              font-size: 0.875rem;
              font-weight: 400;
              line-height: 1.45rem;
              border-radius: 0 0 1.56rem 1.56rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .page-nav {
    grid-template-columns: $page-margin 0.5fr auto 3fr $page-margin;
    padding-top: 0;
    grid-template-areas: ". logo burgerBtn nav .";

    .burger-menu {
      display: none;
    }

    &__nav {
      display: block;
      justify-self: right;
      background-color: #f5cdd5;
      height: auto;
      width: 100%;
      margin-top: 0;
      ul {
        display: inline-flex;
        width: 100%;

        li {
          a {
            font-size: 0.65rem;
            color: #944385;
          }
          .employee,
          .employer {
            display: block;
          }
        }
        .main-links {
          display: flex;
        }
      }
    }
  }

  .section {
    &-main {
      min-height: 90vh;
    }
    &-joboffers {
      &__content {
        grid-template-columns: 5% 2fr 2fr 1fr 5%;
        grid-template-areas:
          ". headerGrid headerGrid more ."
          ". textGrid  textGrid more.";
        min-height: 0;
        padding-top: 5%;

        &-header {
          h1 {
            text-align: left;
          }
        }
        &-text {
          h3 {
            text-align: left;
            width: 100%;
            font-size: 1.25rem;
          }
        }

        &-header,
        &-text {
          padding-left: 5%;
        }
        &-more {
          a {
            display: flex;
          }
          h3 {
            color: #000;
          }

          &:hover {
            .arrow,
            h3 {
              color: #944385;
              rect {
                fill: #944385;
              }
            }
          }
        }
      }

      .joboffers__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .section-joboffers__list--item {
          width: 30%;
          padding: 5%;
          margin: 2%;

          .item__salary {
            font-size: 1.875rem;
            font-weight: 700;
            right: 5%;
          }

          .item__info {
            line-height: normal;

            h1 {
              font-size: 0.825rem;
            }
            h2 {
              font-size: 0.65rem;
            }
          }

          .item__description {
            h1 {
              font-size: 0.75rem;
              margin-bottom: 0;
            }
            p {
              margin: 0;
              font-size: 0.65rem;
            }
          }

          .item__more {
            padding-top: 5%;
            a {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    &-qna {
      &__content {
        grid-template-columns: 5% 2fr 2fr 1fr 5%;
        grid-template-areas:
          ". headerGrid headerGrid headerGrid ."
          ". questionsAndAnswers questionsAndAnswers questionsAndAnswers.";
        min-height: 0;
        padding-top: 5%;
        &-header {
          grid-area: headerGrid;
          h1 {
            margin: 0;
          }
        }

        .qna__header {
          h2 {
            flex-basis: min-content;
          }
        }

        .qna__container {
          grid-area: questionsAndAnswers;
          display: flex;
          .questions__list {
            margin: 2%;
            .collapsible__container {
              cursor: pointer;
              margin: 10% 0;
              width: 100%;
              text-align: left;
              border: none;
              outline: none;
              transition: 0.4s;

              .question {
                h1 {
                  font-size: 0.65rem;
                }
              }

              .answer {
                font-size: 0.65rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .page-nav {
    grid-template-columns: $page-margin 0.5fr auto $page-margin;
    grid-template-areas: ". logo burgerBtn nav nav .";
    padding-top: 1%;
    &__nav {
      width: 100%;
      ul {
        width: 100%;
        li {
          a {
            font-size: 0.875rem;
            color: #944385;
          }
          .employee,
          .employer {
            color: #000;
            background-color: #fff;
            border-radius: 5.25rem;
            text-transform: uppercase;
          }
        }

        .main-links {
          display: flex;
          width: 35%;
          margin-left: auto;
          li {
            width: 50%;
            margin-left: 2%;
          }

          .employerLink:hover {
            a {
              background: #7fd1be;
            }
          }

          .employeeLink:hover {
            a {
              background: #f5cdd5;
            }
          }
          .employeeLink:hover,
          .employerLink:hover {
            a {
              color: #944385;
            }
          }
        }
      }
    }
  }

  .section {
    &-main {
      min-height: 100vh;

      grid-template-columns: 5% 1fr 2fr 0;
      grid-template-rows: auto;
      grid-template-areas:
        ". headerGrid backgroundGrid  ."
        ". textGrid backgroundGrid  ."
        ". more backgroundGrid .";
      &__content {
        grid-template-columns: 0 1fr 0;
        margin-top: auto;
        width: 80%;
        &-header h1,
        &-text h3,
        &-more {
          text-align: left;
          margin-left: 0;
        }

        &-text {
          h3 {
            margin: 0;
          }
        }
      }
    }
    &-joboffers {
      top: -10%;
      &__content {
        grid-template-columns: 5% 2fr 2fr 1fr 5%;
        grid-template-areas:
          ". headerGrid headerGrid more ."
          ". textGrid  textGrid more.";
        min-height: 0;
        padding-top: 5%;

        &-header {
          h1 {
            text-align: left;
            padding-bottom: 0;
          }
        }
        &-text {
          padding-bottom: 10%;
          h3 {
            text-align: left;
            width: 100%;
            font-size: 1.25rem;
          }
        }

        &-header,
        &-text {
          padding-left: 5%;
        }
        &-more {
          a {
            display: flex;
          }
          h3 {
            color: #000;
          }

          &:hover {
            .arrow,
            h3 {
              color: #944385;
              rect {
                fill: #944385;
              }
            }
          }
        }
      }
    }
    &-qna {
      &__content {
        .qna__container {
          justify-content: space-around;
        }
      }
    }
  }

  .background {
    grid-area: backgroundGrid;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -13%;
    left: 0;
    background-image: url(/src/assets/images/cheerful-caucasian-man-points-index-finger-at-copy-20210831091420-utc-21.png);
    background-repeat: no-repeat;
    background-position: right;

    .socials {
      position: absolute;
      bottom: 12%;
      right: 15%;
    }
    svg {
      cursor: pointer;
      position: absolute;
      &:hover {
        path {
          fill: #f5cdd5;
        }
      }

      &:last-child {
        left: 1%;
      }
    }
  }
}
@media (min-width: 1025px) {
  .page-nav {
    grid-template-columns: $page-margin 0.5fr auto $page-margin;
    grid-template-areas: ". logo burgerBtn nav nav .";
    padding-top: 1%;
    &__nav {
      width: 100%;
      ul {
        width: 100%;
        li {
          a {
            font-size: 0.875rem;
            color: #944385;
          }
          .employee,
          .employer {
            color: #000;
            background-color: #fff;
            border-radius: 5.25rem;
            text-transform: uppercase;
          }
        }

        .main-links {
          display: flex;
          width: 35%;
          margin-left: auto;
          li {
            width: 50%;
            margin-left: 2%;
          }

          .employerLink:hover {
            a {
              background: #7fd1be;
            }
          }

          .employeeLink:hover {
            a {
              background: #f5cdd5;
            }
          }
          .employeeLink:hover,
          .employerLink:hover {
            a {
              color: #944385;
            }
          }
        }
      }
    }
  }

  .section {
    &-main {
      min-height: 100vh;

      grid-template-columns: 5% 1fr 2fr 0;
      grid-template-rows: auto;
      grid-template-areas:
        ". headerGrid backgroundGrid  ."
        ". textGrid backgroundGrid  ."
        ". more backgroundGrid  .";
      &__content {
        grid-template-columns: 0 1fr 0;
        margin-top: auto;
        width: 80%;
        &-header h1,
        &-text h3,
        &-more {
          text-align: left;
          margin-left: 0;
        }
      }
    }
    &-joboffers {
      &__content {
        grid-template-columns: 5% 2fr 2fr 1fr 5%;
        grid-template-areas:
          ". headerGrid headerGrid more ."
          ". textGrid  textGrid more.";
        min-height: 0;
        padding-top: 5%;

        &-header {
          h1 {
            text-align: left;
          }
        }
        &-text {
          h3 {
            text-align: left;
            width: 100%;
            font-size: 1.25rem;
          }
        }

        &-header,
        &-text {
          padding-left: 5%;
        }
        &-more {
          a {
            display: flex;
          }
          h3 {
            color: #000;
          }

          &:hover {
            .arrow,
            h3 {
              color: #944385;
              rect {
                fill: #944385;
              }
            }
          }
        }
      }

      .joboffers__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .section-joboffers__list--item {
          width: 18%;
          padding: 2% 4%;
          margin: 1%;

          .item__salary {
            font-size: 2.875rem;
            font-weight: 700;
            right: 5%;
          }

          .item__info {
            line-height: normal;

            h1 {
              font-size: 1.625rem;
            }
            h2 {
              font-size: 0.875rem;
            }
          }

          .item__description {
            h1 {
              font-size: 0.75rem;
              margin-bottom: 0;
            }
            p {
              margin: 0;
              font-size: 0.975rem;
              text-align: justify;
            }
          }

          .item__more {
            padding-top: 8%;
            a {
              font-size: 1.375rem;
            }
          }
        }
      }
    }
    &-qna {
      &__content {


        .qna__container {
          grid-area: questionsAndAnswers;
          display: flex;
          justify-content: space-between; 
          .questions__list {
            margin: 2%;
            .collapsible__container {
              cursor: pointer;
              margin: 10% 0;
              width: 100%;
              text-align: left;
              border: none;
              outline: none;
              transition: 0.4s;

              .question {
                h1 {
                  font-size: 0.65rem;
                }
              }

              .answer {
                font-size: 0.65rem;
              }
            }
          }

          .section-qna__content-employer,
          .section-qna__content-employee {
            width: 48%;
          }
        }
      }
    }
  }

  .background {
    grid-area: backgroundGrid;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -13%;
    left: 0;
    background-image: url(/src/assets/images/cheerful-caucasian-man-points-index-finger-at-copy-20210831091420-utc-21.png),
      url(/src/assets/images/happy-pretty-woman-with-glad-expression-smiles-gen-20210831084343-utc-2-a-1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 7% center, right;

    .socials {
      position: absolute;
      bottom: 12%;
      right: 15%;
    }
    svg {
      cursor: pointer;
      position: absolute;
      &:hover {
        path {
          fill: #f5cdd5;
        }
      }

      &:last-child {
        left: 1%;
      }
    }
  }
}
